ul{
    margin-bottom: 0px;
}
ul li{
    padding: 5px 18px;
    font-size: 15px;
}
ul li:last-child{
    border: 1px solid #f7f0f0;
    color: green;
    background: #f9f9f9;
}
.hotnav :active{
    border: 1px solid #f7f0f0;
    color: green;
    background: #f9f9f9;
}
.my-class{
    background-color: green;
    color: #fff;border: 0;outline: none;border-radius: 3px;padding: 7px 33px;margin-top: 8px
}
.my-classdefault{
    background: #0c5460;color: #fff;border: 0;outline: none;border-radius: 3px;padding: 7px 21px;margin-top: 8px;
}